.github/**
.vscode/**
.vscode-test/**
.nyc_output/**
coverage/**
src/**
test/**
out/test/**
**/*.map
*.vsix
*.lcov
.appveyor.yml
.bithoundrc
.editorconfig
.gitignore
.gitattributes
.travis.yml
package-lock.json
package.nls.template.json
tsconfig.json
tslint.json
npm-debug.*
yarn.lock
